<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Hyper::top_level" module="Hyper_Auth" resource="Magento_Backend::content" sortOrder="9999" title="Hyper"/>
		<add action="hyper_auth/auth/index" id="Hyper_Auth::hyper_auth_auth" module="Hyper_Auth" parent="Hyper::top_level" resource="Magento_Backend::content" sortOrder="9999" title="Auth"/>
	</menu>
</config>
