<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="hyper_auth" id="hyper_auth">
			<module before="Magento_Backend" name="Hyper_Auth"/>
		</route>
	</router>
</config>
