<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="hyper" sortOrder="999" translate="label">
			<label>hyper</label>
		</tab>
		<section id="auth" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>auth</label>
			<tab>hyper</tab>
			<resource>Hyper_Auth::config_hyper_auth</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>general</label>
				<field id="is_enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>is_enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
